/* Añade estos estilos en tu archivo CSS global, como App.css */
.mapboxgl-search-box {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mapboxgl-search-box input {
  border: none;
  outline: none;
  flex-grow: 1;
}

.mapboxgl-search-box button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 5px;
}

.mapboxgl-search-box button:hover {
  color: #007acc;
}
