.reports,
.blur {
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100vh;
}

.hidden {
  display: none;
}

.reports {
  filter: none;
}

.blur {
  filter: blur(8px);
}
.container {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  height: 280px;
  margin: 0 auto;
}

.form {
  display: flex;
  position: fixed;
  flex-direction: column;
  gap: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
  z-index: 2;
}

.success {
  display: flex;
  position: fixed;
  flex-direction: column;
  gap: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 2;
}
