.container {
  height: 100%;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}
.left,
.right {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 65px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.left {
  left: 32px;
}

.right {
  right: 32px;
}

.dots-container {
  display: flex;
  justify-content: center;
}

.dot {
  margin: 0 3px;
  cursor: pointer;
  font-size: 25px;
}
