.reports {
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100vh;
}

.container {
  width: 500px;
  height: 280px;
  margin: 0 auto;
}

.image {
  object-fit: scale-down;
  max-height: 400px;
}
